body {
    background-color: black;
    color: rgb(196, 199, 21);
    font-family: "Big Shoulders Display";
    font-weight: 600;
    margin: 0px;
  }


  h1 {
    color: #f30505;
    font-size: xx-large;
    font-style: oblique;
}
h2 {
    color: #08b70b;
    font-size: xx-large;
    font-style: oblique;
}


.carrito {

    color: #08b70b;
    font-size: medium;
    font-style: oblique;
}
